@import url(../src/sofia-pro-webfont/style.css);
body{
 margin: 0;
 padding: 0;   
 font-family:'Sofia Pro Regular';
 
}
#black{
    width: 100%;
    height: 400vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    display: none;
}
#banner{
    padding: 50px 0;
    height: 24px;
   
    display: flex;
    td{
        font-size: 20px;
        font-weight: 500;
        
        padding: 0 30px;
    }
    

    i{font-size: 24px; margin-right: 10px;}

    
    .dropdown{display: none;}
    .nav{display: none;}
    
input[type=text]{
    margin: 0;
    border: none;
    font-size: 20px;
    height: 24px;
    width: 300px;
    border-radius: 5px;
    outline: none;
}
ul{
    padding: 0;
    font-size: 20px;
    display: inline-flex;
    margin: 0;
}

li{
    list-style-type: none;
  margin: 0 30px;
    
}
}
#login{
    display: flex;
    right: 0;
    position: absolute;}
#slidebar{
    width: 252px;
    height: 100vh;
    z-index: 2;
    padding: 50px 50px;
    padding-right: 0;
    padding-top: 50px;

    float: left;
    ul{
        padding: 0;
        font-size: 20px;
    }

    li{
        list-style-type: none;
        margin: 20px;
        
    }
    
    
}.burg{
        display: none;
        float: right;
        margin: 0 10px;
    }
    #cont{
        display: grid
        ;
            place-content: center;
    }
    
.container{
    width: 520px;
    height: 380px;
    
    margin: 10px ;
    
    float: left;
    h2{
        margin-left: 20px;
    }
    h3{
        margin-left: 20px;
    }

    .boxHorizontal{
        width: 100%;
        height: 182.5px;
        background-color: #BCE7F0;
        border-radius: 20px;
        align-content: center;
        
        
        

    }
    .off{
        background-image: url(../src/W1.png);
    background-size: auto 100%;
    background-position: center;
    }
    .summer {
        background-image: url(../src/W2.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    }
    .trending{
        background-image: url(../src/W3.png);
    background-size: auto;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #F4DE4D;

    h2{
        color: #001AA2;
    }
    }
    .buyFirst{
        background-image: url(../src/W4.png);
    background-size: auto;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #E9E5E2;

        h2{
            color: #FD2E24;
        }
    }
    #up{
        margin-bottom: 15px;
    }
    
    #bottom{
        margin-top: 15px;
    }
    .boxHorizontal1{
        width: 100%;
        height: 182.5px;
        background-color: #BCE7F0;
        border-radius: 20px;
        align-content: center;
        background-image: url(../src/W1.png);
        background-size: auto 100%;
        background-position: center;

        #up{
        margin-bottom: 15px;
    }
    
    #bottom{
        margin-top: 15px;       
    }

    }
    

    
}
.containerV{
    width: 520px;
    height: 380px;
    margin: 10px;
    float: left;
    .left{
        width: 250px;
        height: 380px;
        background-color: #BCE7F0;
        border-radius: 20px;
        
        margin-right: 10px;
        float: left;
    
    }
    .right{
        width: 250px;
        height: 380px;
        background-color: #BCE7F0;
        border-radius: 20px;
        
        margin-left: 10px;
        float: left;
    
    }
    i{
        float: right;
        width: 40px;
        height: 40px;
        margin: 20px;
        font-size: 20px;
        border-radius: 100px;
        background: white;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    #v1{
        background-image: url(../src/image2.png);
        background-size: auto 100%;
        background-position: center;
    }
    #v2{
        background-image: url(../src/image1.png);
        background-size: auto 100%;
        background-position: center;
    }
    #v3{
        background-image: url(../src/image3.png);
        background-size: auto 100%;
        background-position: center;
    }
    #v4{
        background-image: url(../src/image4.png);
        background-size: auto 100%;
        background-position: center;
    }
}
#help{
    margin-top: 35vh;

    h2{
        i{
         margin-right: 10px;
         } 
     }
}

@media only screen and (max-width: 1201px) {
.burg{
            display: block;
        }
        #login{
    
    .nav{display: block;}
    }
    #slidebar{
        left: -300px;
        position: absolute;
        
    }#banner{
        padding-left: 10px;
        #listaBanner{
            display: none;
        }
        input[type=text]{
            display: none;
        }
    }
    
    }
    

@media only screen and (max-width: 1101px) {
.container{
    width: 100%;
    margin: 0;
    max-width: 640px;
    }
    .containerV{width: 100%;
        margin:10px 0;
        .left{
            width: 47.5%;
            margin-right: 2.5%;
            max-width: 300px;
            
        }
        .right{width: 47.5%;
            margin-left: 2.5%;
            max-width: 300px;
            

        }
    }
    #cont{
        padding: 20px;
       
    
}



}
@media only screen and (min-width: 1202px) and (max-width: 1402px) {
    body{
        //background-color: #F4DE4D;
    }
    .container{
        width: 38vw;
    }
    .containerV{width: auto;
    
        .left{    width: 15vw;}
        .right{    width: 15vw;}
    
    }
    #banner{
        input[type=text]{
            width: 20%;
        }
    }
}

