body{
 margin: 0;
 padding: 0;   
 font-family: 'Times New Roman', Times, serif;
}

#banner{
    margin: 50px 0;
    height: 24px;
   
    display: flex;
    td{
        width: 15vh;
        padding: 0 20px;
    }
    

    i{font-size: 24px; margin-right: 10px;}

    
    .dropdown{display: none;}
    .nav{display: none;}
    
input[type=text]{
    margin: 0;
    border: none;
    font-size: 20px;
    height: 24px;
    width: 300px;
    border-radius: 5px;
    outline: none;
}
ul{
    padding: 0;
    font-size: 20px;
    display: inline-flex;
    margin: 0;
}

li{
    list-style-type: none;
  margin: 0 30px;
    
}
}
#login{
    display: flex;
    right: 0;
    position: absolute;}
#slidebar{
    width: 252px;
    height: 890px;
    padding: 50px 50px;
    padding-right: 0;
    padding-top: 0;

    float: left;
    ul{
        padding: 0;
        font-size: 20px;
    }

    li{
        list-style-type: none;
        margin: 20px;
        
    }
    #burg{
        display: none;
        float: right;
        margin: 0 10px;
    }
    
}
.container{
    width: 520px;
    height: 380px;
    
    margin: 10px ;
    
    float: left;
    .boxHorizontal{
        width: 100%;
        height: 182.5px;
        background-color: #BCE7F0;
        border-radius: 20px;
        align-content: center;

    }
    #up{
        margin-bottom: 15px;
    }
    #bottom{
        margin-top: 15px;
    }
}
.containerV{
    width: 520px;
    height: 380px;
    margin: 10px;
    float: left;
    #left{
        width: 250px;
        height: 380px;
        background-color: #BCE7F0;
        border-radius: 20px;
        align-content: center;
        margin-right: 10px;
        float: left;
    
    }
    #right{
        width: 250px;
        height: 380px;
        background-color: #BCE7F0;
        border-radius: 20px;
        align-content: center;
        margin-left: 10px;
        float: left;
    
    }
}
#help{
    position: absolute;
    bottom: 20px;
    h2{
        i{
         margin-right: 10px;
         } 
     }
}

@media only screen and (max-width: 1201px) {
#login{
    
    .nav{display: block;}
    }
    #slidebar{
        left: -230px;
        position: absolute;
        #burg{
            display: block;
        }
    }#banner{
        padding-left: 70px;
        #listaBanner{
            display: none;
        }
        input[type=text]{
            display: none;
        }
    }
    
    }
    

@media only screen and (max-width: 1101px) {
.container{
    width: 100%;
    margin: 0;
    }
    .containerV{width: 100%;
        margin:10px 0;
        #left{
            width: 47.5%;
            margin-right: 2.5%;
        }
        #right{width: 47.5%;
            margin-left: 2.5%;}
    }
    #cont{
        padding: 20px;
    }


}

